python-dotenv

langchain
langserve
langchain-community
langchain-text-splitters
langchain-classic
langchain-chroma

langchain-openai
langchain-huggingface
langchain-groq

langgraph
langgraph-checkpoint

beautifulsoup4
streamlit
sse_starlette